# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
BlenderFBX/
Content/Imports/*.fbx

# VSCode gen'd dirs
.vs/
.vscode/
.ignore

# Makefile/workspace for building project
Makefile
*.code-workspace

# Logs & temp files
*.log
*.docx
*.tmp

# Visual Studio / IDE
*.suo
*.sln
*.user
*.opensdf
*.db

# Build outputs
*.exe
*.dll
*.pdb